<h1>New User Registration</h1>

<form action="/signup_new" method="post" >


  <h2>Please input your personal data insecurely below</h2>

    <h3>Email address</h3>
    <input type="text" name="email_address" placeholder = "e.g. birdperson@twitter.com" style="width:200px">

    <h3>The same password you use everywhere else</h3>
    <input type="text" name="password" placeholder = "e.g. hunter2" style="width:150px">

  <input type="submit" value="Sign up!">

</form>
