
<h1>

  <% if current_user %>
  Welcome to the Links page, <%=current_user.email_address%>! Your password is: <%=current_user.password_digest%>?! Congratulations!
  <% else %> Links
  <% end %>

</h1>


<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>
