<h1>Bookmark Manager - Create A Link!</h1>

<form action="/links" method="post" >
  <h2>Please input your link</h2>
  <input type="text" name="link_name" value = "woz this site about" style="width:200px">
  <input type="text" name="url_address" value = "ur link wot u wanna save heeeere" style="width:200px">
  <input type="text" name="tags" value = "yo you wanna tag it?" style="width:200px">
  <input type="submit" value="Create link">
</form>
