<h1>Bookmark Manager - Create A Link!</h1>

<form action="/links" method="post" >
  <h2>Please input your link</h2>

  <h3>Site description/name</h3>
  <input type="text" name="link_name" placeholder = "woz this site about" style="width:200px">

  <h3>Site url</h3>
  <input type="text" name="url_address" placeholder = "ur link wot u wanna save heeeere" style="width:200px">

  <h3>Tag</h3>
  <input type="text" name="tags" placeholder = "yo you wanna tag it?" style="width:200px">
  <input type="submit" value="Create link">
</form>
